## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="/p/about_us">${_("About")}</a></li>
          <li><a href="/p/faq">${_("Help")}</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <!-- <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span> -->
    </div>
  </footer>
</div>
